@page "/"
@using Blazor.WeatherWidget

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Default Template</h2>
            <div style="width: 450px;" class="border border-secondary bg-light rounded shadow-lg p-3 mb-5">
                <WeatherWidget CurrentCity="Munich, DE" />
            </div>
        </div>
        <div class="col-sm">
            <h2>User Defined Template</h2>
            <WeatherWidget @bind-CurrentCity="@myCityBinding" Template="Models.WeatherWidgetTemplate.Custom">
                <CustomTemplate>
                    <div class="card text-center">
                        <div class="card-header">
                            Weather for @context.CityName, @context.Sys.Country
                        </div>
                        <div class="card-body">
                            <img src="@context.Weather[0].DefaultIcon" />
                            <h5 class="card-title">@Math.Round(context.Main.Temperature, 1)&nbsp;°C</h5>
                            <p class="card-text">@context.DateTimeLocal</p>
                            @context.Weather[0].Description with @context.Wind.Description coming from @context.Wind.NamedDirection
                        </div>
                        <div class="card-footer text-muted">
                            <input value="@myCity" @oninput="@((e) => { myCity = (string)e.Value; })">
                            <button class="btn btn-info" type="button" @onclick="OnSearchNewCity">Search for weather data!</button>
                        </div>
                    </div>
                </CustomTemplate>
            </WeatherWidget>
        </div>
    </div>

</div>

@code {

    private string myCity = "Tokyo, JP";
    private string myCityBinding = "Tokyo, JP";

    protected void OnSearchNewCity()
    {
        myCityBinding = myCity;
    }
}